@model List<List<string>>

<table>
	<tr>
		<th>date</th>
		<th>room</th>
		<th>course</th>
		<th>code</th>
		<th>id</th>
	</tr>
	@foreach(List<string> presence in Model)
	{	
		<tr>
			<td>@presence[0]</td>
			<td>@presence[1]</td>
			<td>@presence[2]</td>
			<td>@presence[3]</td>
			<td>@presence[4]</td>
		</tr>
	}
</table>